<div class="container-fluid py-4">

  <!-- Customer Preview -->
  <div class="shadow-sm rounded-4 p-4 bg-white mb-4">
    <h5 class="mb-3 text-primary">
      <i class="bi bi-person-badge"></i> Customer Preview
    </h5>

    <div class="d-flex justify-content-between mb-2">
      <span class="text-secondary">Customer ID</span>
      <strong>{{ id }}</strong>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <span class="text-secondary">Customer Name</span>
      <strong>{{ name }}</strong>
    </div>

    <div class="d-flex justify-content-between mb-3">
      <span class="text-secondary">Customer Email</span>
      <strong>{{ email }}</strong>
    </div>
  </div>

   Accounts
  <div class="card shadow-sm mb-4" *ngFor="let acc of Comptes">
    <div class="card-header bg-light fw-bold">
      RIB : {{ acc.id }} <span class="ms-5 font-bold
text-blue-700"
    > {{ acc.decouvert == null ? "epargne" : "courant"}}</span>
    </div>
    <div class="card-body">
       <p><strong>DATE CREATION : {{ acc.dateCreation | date:'dd/MM/yyyy HH:mm:ss' }}</strong></p>
      <p><strong>Balance:</strong> {{ acc.sold }} {{acc.devise}}</p>
<br>@if (acc.decouvert==null) {
      <p><strong>INTREST :
        {{acc.tauxInteret}}
      </strong></p>}
      @else {
        <p><strong>DECOUVERT :
          {{acc.decouvert}}
        </strong></p>}<br>

      <button class="btn btn-info btn-sm mb-3"
              (click)="ops(acc.id)">
        View Details
      </button>
<!--      @if (acc.Operations) {-->

<!--      <table class="table table-hover align-middle">-->
<!--        <thead class="table-light">-->
<!--        <tr>-->
<!--          <th>Amount</th>-->
<!--          <th>Type d'operation</th>-->
<!--          <th>Date</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          @for (op of acc.Operations; track op){-->
<!--        <tr>-->
<!--          <td>{{ op.montant }} {{ acc.devise }}</td>-->
<!--          <td>{{ op.type_operation }}</td>-->
<!--          <td>{{ op.dateOp | date:'dd/MM/yyyy HH:mm:ss' }}</td>-->
<!--        </tr>-->
<!--          }-->
<!--        </tbody>-->
<!--      </table>}-->


    </div>
  </div>

</div>
