<div class="container-fluid py-4">


    <div class="shadow-sm rounded-4 p-4 bg-white">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="text-primary mb-0">
          <i class="bi bi-people"></i> Customers
        </h5>
      </div>
      <form [formGroup]="searchFormGroup" (ngSubmit)="getClients()">
        <div class="row g-2">
          <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Search by keyword..." formControlName="keyword">
          </div>
          <div class="col-md-3 d-grid">
            <button class="btn btn-primary">
              <i class="bi bi-search"></i> Search
            </button>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let c of clients">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.email }}</td>

            <td class="text-center">




              <button
                class="btn btn-sm btn-warning"
                [routerLink]="['/customers/edit', c.id]">
                <i class="bi bi-pencil"></i>
              </button>

              <button
                class="btn btn-outline-danger btn-sm me-1"
                (click)="handleDeleteCustomer(c)">
                <i class="bi bi-trash"></i>
              </button>

              <button
                class="btn btn-outline-success btn-sm"
                (click)="handleCustomerAccounts(c)">
                <i class="bi bi-wallet2"></i>

              </button>

            </td>
          </tr>
          </tbody>

        </table>
      </div>

    </div>


</div>
