<div class="row g-3">

  <!-- Account Operations Table -->
  <div class="col-lg-6">
    <div class="shadow-sm rounded-4 p-4 bg-white">

      <h5 class="mb-4 text-primary">
        <i class="bi bi-wallet2"></i> Account Operations
      </h5>

      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead class="table-light">
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th class="text-end">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let op of Operations">
            <td>{{ op.dateOp | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td><span class="badge bg-secondary">{{ op.type_operation }}</span></td>
            <td class="text-end">{{ op.montant }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- New Operation Form -->
  <div class="col-lg-6">
    <div class="shadow-sm rounded-4 p-4 bg-white">

      <h5 class="mb-4 text-success">
        <i class="bi bi-arrow-left-right"></i> New Operation
      </h5>

      <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()">

        <!-- Type d'opération -->
        <div class="mb-3">
          <label class="form-label">Operation Type</label><br>
          <input type="radio" formControlName="operationType" value="DEBIT"
          ><span class="font-bold me-2"> DEBIT</span>
          <input type="radio" formControlName="operationType" value="CREDIT"> <span class="font-bold me-2"> CREDIT</span>
          <input type="radio" formControlName="operationType" value="TRANSFER"> <span class="font-bold me-2"> TRANSFER</span>
        </div>

        <!-- Destination si TRANSFER -->
        <div class="mb-3" *ngIf="operationFromGroup.value.operationType === 'TRANSFER'">
          <input type="text" class="form-control" placeholder="Destination Account ID" formControlName="accountDestination">
        </div>

        <!-- Montant -->
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Amount" formControlName="amount">
        </div>
        <!-- Bouton submit -->
        <button type="submit" class="btn btn-success">Submit Operation</button>

      </form>
    </div>
  </div>

</div>
