/* Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Bootstrap Icons */
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Tailwind CSS */
@import "tailwindcss";

/* Tes styles globaux ici */
body {
  font-family: Arial, sans-serif;
}
